@{
}
<div class="modal fade" id="showDomain" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Edit Domain"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

      
                <div class="modal-body">

                <form asp-page="/UserSites" asp-page-handler="EditDomain">
                    <input name="siteId" id="EditPageId" hidden>
                    <div class="col-lg-12">
                        <div>
                            <label class="form-label">@sharedResource["Domain"]</label>

                            <input type="text" id="DomainId" name="Domain"
                                   class="form-control"
                                   placeholder="Enter Domain" required />


                        </div>
                    </div>

                    <button class="btn btn-danger mt-3" type="submit" id="delete-record">
                        @sharedResource["Edit"]
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>


      