@page
@model iTech.Pages.DefaultEditorModel
@{
    ViewData["Title"] = "Editor";
    Layout = "Shared/Public/_DefaultEditorLayout.cshtml";
}



<div id="gjs" style="height:0px; overflow:hidden"></div>

<script src="~/js/DefaultEditor.js"></script>
