@using Microsoft.AspNetCore.Localization;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject CRMDBContext _context
@{
    var locale = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    var currentuser = await UserManager.GetUserAsync(User);
    //var contacts = _context.SocialMediaLinks.FirstOrDefault();
}

<!DOCTYPE html>
<html id="htmlRoot" class="sticky-header-active">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TechSite</title>

    <meta name="keywords" content="TechSite" />
    <meta name="description" content="TechSite">
    <meta name="author" content="TechSite">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/LogoSite.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/images/LogoSite.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    @*<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&amp;display=swap" rel="stylesheet" type="text/css">*@

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Public/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Public/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/Public/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/Public/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Public/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Public/vendor/magnific-popup/magnific-popup.min.css">

    @*  <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Public/css/theme.css">
    <link rel="stylesheet" href="~/Public/css/theme-elements.css">
    <link rel="stylesheet" href="~/Public/css/theme-blog.css">
    <link rel="stylesheet" href="~/Public/css/theme-shop.css">
    *@
    @{

        //English
        if (BrowserCulture == "en-US")
        {
            <script>
                var masterPage = document.getElementById("htmlRoot");
                masterPage.dir = "ltr";
            </script>
            <!-- Theme CSS -->
            <link rel="stylesheet" href="~/Public/css/theme.css">
            <link rel="stylesheet" href="~/Public/css/theme-elements.css">
            <link rel="stylesheet" href="~/Public/css/theme-blog.css">
            <link rel="stylesheet" href="~/Public/css/theme-shop.css">


        }
        //Arabic
        else
        {
            <script>
                var masterPage = document.getElementById("htmlRoot");
                masterPage.dir = "rtl";
            </script>
            <!-- Theme CSS -->
            <link rel="stylesheet" href="~/Public/css/rtl-theme.css">
            <link rel="stylesheet" href="~/Public/css/rtl-theme-elements.css">
            <link rel="stylesheet" href="~/Public/css/rtl-theme-blog.css">
            <link rel="stylesheet" href="~/Public/css/rtl-theme-shop.css">
            <link href="~/adminassets/css_rtl/arabicfont.css" rel="stylesheet" />
        }

        <!-- Current Page CSS -->
        <link rel="stylesheet" href="~/Public/vendor/circle-flip-slideshow/css/component.css">

        <!-- Skin CSS -->
        <link id="skinCSS" rel="stylesheet" href="~/Public/css/skins/default.css">
        // <style>
        //         body {
        //             background: radial-gradient(#f6c 15%, rgba(0,0,0,0) 16%), radial-gradient(#6cf 15%, rgba(0,0,0,0) 16%), #fff;
        //             background-position: 0 0, 30px 30px;
            //         }</style>

        <!-- Head Libs -->
        <script src="~/Public/vendor/modernizr/modernizr.min.js"></script>


        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="~/Public/css/custom.css">

    }
    <link href="~/adminassets/css_rtl/arabicfont.css" rel="stylesheet" />
    <link href="~/css/css_rtl/arabicfont.css" rel="stylesheet" />

</head>

<body data-plugin-page-transition style="font-family: 'Tajawal Regular' !important;">

    <div class="body">

        @Html.Partial("Public/Partials/_PublicHeader")

        @RenderBody()

        @Html.Partial("Public/Partials/_PublicFooter")


    </div>
    @*<partial name="_LoginPopup" model="@Model.loginVM" view-data="ViewData" />*@

    @*<partial name="Public/Partials/_LoginPopup" />*@



    <!-- Vendor -->
    @await Component.InvokeAsync("NToastNotify")


    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    <script src="~/Public/vendor/plugins/js/plugins.min.js"></script>
    <script src="~/public/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="~/Public/js/theme.js"></script>

    <script src="~/Public/js/views/view.contact.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Public/js/theme.init.js"></script>

    <!-- Examples -->
    <script src="~/Public/js/examples/particles.min.js"></script>
    <script src="~/Public/js/examples/examples.particles.js"></script>
</body>


</html>